.titulo{
  background-color: aqua;
}

.cardProducto{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-content: space-around;
  gap: 2rem;
  margin: 2rem;
}



.cardBodyDark {
  background-color: grey;
  flex: 1 1 auto;
  padding: 1rem 1rem
}

.cardBody{
  color: black;
}

.cuerpo{
  background-color: black;
}

.darkMode{
  background-color: black;
  color: white;
}

.itemDetail{
  max-width: 540px;
  margin-top: 20px;
}

.letraBlanca{
  text-decoration: none;
  color: white;
}

.letraNegra{
  text-decoration: none;
  color: black;
}

.letraBlanca:hover{
  color: white;
}

.countSpace{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
}

.botonCount{
  margin: 0 0.5rem 0.5rem 0.5rem;
  text-align: center;
}

.agregarCarrito{
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.agregarCarritoImagen{
  margin-bottom: 0.5rem;
}

.botonFinalizaCompra{
  text-decoration: none;
  color: white;
}

.botonFinalizaCompra:hover{
  color: white;
}

.negrita{
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}

.blanco{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.botoneraCarrito{
  display: flex;
  padding-bottom: 4rem;
}

.botoneraCarrito > button{
  margin-right: 1rem;
}

.cartContainer{
  text-align: center;
  align-items: center;
  padding: 1rem;
}

.imgCarrito{
  display: flex;
  justify-content: center;
}

.modoOscuro{
  padding: 1rem;
}

.container{
  padding-bottom: 2rem;
}

.red{
  color: red;
}

.prueba{
  display: flex;
  justify-content: space-between;
}

.botonFormulario{
  display: flex;
  gap: 1rem;
}
